<div class="row cart-product">
    <div class="col-2">
        <img [src]="cartProduct.prod.photo" alt="">
    </div>
    <div class="col-4 cart-product-title">
        <a [routerLink]="'/products/'+cartProduct.prod._id">
            {{ cartProduct.prod.title }}
        </a>
    </div>
    <div class="col-2 cart-product-price">{{ cartProduct.prod.price }}&euro;</div>
    <div class="col-2 cart-product-quantity">
        <button class="btn btn-light" (click)="hidden = cs.cartHide(cartProduct.prod._id); cs.removeFromCart(cartProduct.prod)">-</button>
        {{ cartProduct.quantity }}
        <button class="btn btn-light" (click)="cs.addToCart(cartProduct.prod); hidden = true">+</button>
        <div class="cart-product-delete" [hidden]="hidden">
            Remove?
            <span (click)="cs.deleteFromCart(cartProduct.prod)">YES&#x2714;</span>
            <span (click)="hidden = true">NO&#x2716;</span>
        </div>
    </div>
    <div class="col-2 cart-product-totalprice">
        Price: {{ cartProduct.totalPrice }}&euro;
        <span class="cart-product-delete-all" (click)="cs.deleteFromCart(cartProduct.prod)">&#10060;</span>
    </div>
</div>