img {
  max-width: 50px;
}
.btn{
  margin: 0 5px;
}
.cart-dropdown-title{
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.cart-dropdown-price{
  font-size: 15px;
  margin-right: 10px;
}
.cart-dropdown-totalPrice{
  font-size: 20px;
}
